<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Stock App</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />

    <link 
      rel="shortcut icon" 
      href="{{ url_for('static', filename='favicon.ico') }}"
    />

  </head>

<body>
{# Main Header #}
    <div class="jumbotron">
      <div class="text-center">
        <h1 class="display-4">DSCI 551 Stock App Project</h1>
        <p class="lead">**Search bar will go here**</p>
      </div>
    </div>
  {# End Main Header #}

<!--Main Layout-->
{% block content %}
    {# Begin stock and article content display here #}
    <div class="row">
      {# Stock prices column #}
      <div class="col-lg">
        <div class="mycontainer">
          <div class="toprow">
            <div class="myrow"><h2>Company Information</h2></div>
          </div>
          {% for res_dict in sql_results %}
          <div class="myrow">
            <div class="col-lg">
              <div class="card">
                <div class="card w-100">
                  <div class="card-body">
                    <h5 class="card-title">
                      <h4>
                        <a href="{{ res_dict['symbol'] }}" target="_blank">{{ res_dict['name'] }}</a>
                      </h4>


                    <p class="card-text">{{ res_dict['symbol'] }} | {{ res_dict['sector'] }}</p>

                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      {# News articles column #}
      <div class="col-lg">
        <div class="mycontainer">
          <div class="toprow">
            <div class="myrow"><h2>News Articles</h2></div>
          </div>

          {% for res in mdb_results %}
          <div class="card w-100">
            <div class="card-body">
              <h5 class="card-title"><h4><a href="{{ res['link'] }}" target="_blank">{{ res['title'] }}</a></h4>
              <p class="card-text">{{ res['dt'] }} | {{ res['media'] }} | <b><a href="{{ res['Symbol'] }}" target="_blank">{{ res['Symbol'] }}</a></b></p>
              <p class="card-text">{{ res['desc'] }}</p>

            </div>
          </div>

          {% endfor %}
        </div>
      </div>
    </div>



    {% endblock %}
  </body>
</html>
