<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Stock App</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />

    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
  </head>

  <body>
    {% block content %}
    <div class="text-center">
      <h1>{{ industry }} - Spark Data</h1>
       <div class="row">
     <div class="col-lg">
      {# Price table starts here #}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Sector</th>
            <th scope="col">Symbol</th>
            <th scope="col">Period_High</th>
            <th scope="col">High_Date</th>
            <th scope="col">Period_Low</th>
            <th scope="col">Low_Date</th>
            {# <th scope="col">Dividends</th> #}
          </tr>
        </thead>

        <tbody>
          {% for p_dict in price_results %} {# p_dict keys: date, open, high,
          low, close, volumne, dividends #}
          <tr>
            <th scope="row">{{ p_dict['Sector'] }}</th>
            <td>{{ p_dict['Symbol'] }}</td>
            <td>{{ p_dict['Period_High'] }}</td>
            <td>{{ p_dict['High_Date'] }}</td>
            <td>{{ p_dict['Period_Low'] }}</td>
            <td>{{ p_dict['Low_Date'] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    </div>


{% endblock %}
  </body>
</html>
